bjcp-2015-styleguide-de.xml
bjcp-2015-styleguide-orig.xml
bjcp-2015-styleguide-de.html
bjcp-2015-styleguide-orig.html
wordpress-orig.sql
wordpress-de.sql
cache/2015_Guidelines_Beer.docx
cache/bjcp-2015-styleguide-word.xml
cache/
orig/
tmp/
web/bjcp-2015-styleguide-de-auto.xml

