
/* editor stuff */

.pell-content{
  border-bottom: 1px solid black;
}

div#editor button[title="copy"],
div#editor button[title="save"],
div#editor button[title="cancel"] {
  width: 70px;
  background-color: white;
  padding: 0px 3px;
  margin: 0px 3px;
  cursor: pointer;
}
div#editor {
  display: none;
  position: fixed;
  width: 100%;
  top: 0; 
  left: 0;
  right: 0;
  text-align: center;
  font-family: Helvetica, Arial, Geneva, sans-serif;
  font-size: 9pt;
}
div#editor-inner {
    background-color: white;
    pointer-events: all;
  text-align: left;
  margin: 10px auto;
  padding: 5px;
  width: 90%;
  z-index: 2;
  border: 2px solid black;
  background: #ddd;
}
div#editor-inner input {
  background: white;
}
div#markup {
  font-family: courier;
}
div#original p, div#auto p, div#undo p {
    margin:3px 8px;
}
div#original {
    margin:2px 3px;
    height: auto;
    max-height: 12%;
    overflow-y: auto;
    font-size: 100%;
}
div#auto {
    margin:2px 3px;
    height: auto;
    max-height: 12%;
    overflow-y: auto;
}
div#undo {
    margin:2px 3px;
    height: auto;
    max-height: 12%;
    overflow-y: auto;
}

div.pell-content {
    height: 30%;
    overflow-y: auto;
}


html, body, div#editor {
    height: 100%;
}
div#editor-inner {
    padding: 10px;
    height: 95%;
}

styleguide *[source] {
  cursor: pointer;
}

styleguide[orig="true"] * {
  display:none;
}

styleguide *[source="original"] {
    background-color: #ffd0d0;
}
styleguide *[source="lang-file"] {
    background-color: #dfffdf;
}
styleguide *[source="this-session"] {
    background-color: #b0ffb0;
}
styleguide nav:not([todo="0"]) {
    background-color: #ffb0b0;
}
styleguide nav:not([todo]) {
    background-color: white;
}
