
styleguide {
    font-family: Helvetica, Arial, Geneva, sans-serif;
}

styleguide chapter p,
styleguide chapter h1, styleguide chapter h2, styleguide chapter h3, styleguide chapter h4,
styleguide chapter ol, styleguide chapter ul,
styleguide chapter {
    margin-left: 0.7em;
}

styleguide chapter {
    padding: 0px;
    margin: 0px;
}

/* the following rules are copied from standard html rules */

styleguide p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

styleguide h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

styleguide h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}

styleguide h4 {
    display: block;
    font-weight: bold;
}

styleguide ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 40px;
}

styleguide ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 40px;
}

styleguide a {
    cursor: pointer;
}

styleguide li {
    display: list-item;
    text-align: -webkit-match-parent;
}

/* table-style divs */

styleguide div.table {
    table-layout: fixed;
    padding: 10px;
    margin: 10px;
    width: auto;
    display: table; 
}

styleguide div.table-head {
    width: auto;
    display: table-cell;
    margin: 10px 0px;
    padding: 10px 0px;
    font-weight: bold;
}
styleguide div.table-row {
    display: table-row;
}

styleguide div.table-cell {
    display: table-cell; 
    padding: 0px 10px;
    margin: 0px 10px;
}


/* categories */

styleguide category, styleguide subcategory {
    /*margin-top:1em;*/
    /*margin-bottom:1em;*/
    margin-left:1em;
    display: block;
}

/*
styleguide p {
    margin-top:1em;
}
*/

styleguide b {
  font-weight: bold;
}

styleguide i {
  font-style: italic;
}

styleguide u {
  text-decoration: underline;
}

styleguide name {
    display: inline-block;
    /*margin-bottom:0.5em;*/
    font-size: 1.5em;
    font-weight: bold;
}
styleguide description {
    /*margin-left:1em;*/
    display: block;
}
/*
styleguide description p {
  margin-top: 0;
}
*/

styleguide overall-impression:before {
  content: "Overall Impression: ";
}
styleguide aroma:before {
  content: "Aroma: ";
}
styleguide appearance:before {
  content: "Appearance: ";
}
styleguide flavor:before {
  content: "Flavor: ";
}
styleguide mouthfeel:before {
  content: "Mouthfeel: ";
}
styleguide comments:before {
  content: "Comments: ";
}
styleguide history:before {
  content: "History: ";
}
styleguide characteristic-ingredients:before {
  content: "Characteristic Ingredients: ";
}
styleguide style-comparison:before {
  content: "Style Comparison: ";
}
styleguide entry-instructions:before {
  content: "Entry Instructions: ";
}
styleguide specs:before {
  content: "Vital Statistics: ";
}
styleguide commercial-examples:before {
  content: "Commercial Examples: ";
}
styleguide tags:before {
  content: "Tags: ";
}
styleguide strength-classifications:before {
  content: "Strength Classifications: ";
}

styleguide[lang="de"] overall-impression:before {
  content: "Gesamteindruck: ";
}
styleguide[lang="de"] aroma:before {
  content: "Geruch: ";
}
styleguide[lang="de"] appearance:before {
  content: "Erscheinungsbild: ";
}
styleguide[lang="de"] flavor:before {
  content: "Geschmack: ";
}
styleguide[lang="de"] mouthfeel:before {
  content: "Mundgefühl: ";
}
styleguide[lang="de"] comments:before {
  content: "Kommentare: ";
}
styleguide[lang="de"] history:before {
  content: "Geschichte: ";
}
styleguide[lang="de"] characteristic-ingredients:before {
  content: "Charakteristische Zutaten: ";
}
styleguide[lang="de"] style-comparison:before {
  content: "Stilvergleich: ";
}
styleguide[lang="de"] entry-instructions:before {
  content: "Einreichungsbestimmungen: ";
}
styleguide[lang="de"] specs:before {
  content: "Eckdaten: ";
}
styleguide[lang="de"] commercial-examples:before {
  content: "Kommerzielle Beispiele: ";
}
styleguide[lang="de"] tags:before {
  content: "Tags: ";
}
styleguide[lang="de"] strength-classifications:before {
  content: "Stärkeklassifikationen: ";
}

styleguide[lang="de"] category > name:after {
  content: " (Stilkategorie)";
  font-weight: normal;
  font-size: 0.6em;
}
styleguide[lang="de"] subcategory > name:after {
  content: " (Bierstil)";
  font-weight: normal;
  font-size: 0.6em;
}
styleguide[lang="de"] subcategory[id*="-"] > name:after {
  content: " (Bierstilalternative)";
  font-weight: normal;
  font-size: 0.6em;
}

styleguide overall-impression,
styleguide aroma,
styleguide appearance,
styleguide flavor,
styleguide mouthfeel,
styleguide comments,
styleguide history,
styleguide characteristic-ingredients,
styleguide style-comparison,
styleguide specs,
styleguide entry-instructions,
styleguide commercial-examples,
styleguide tags,
styleguide strength-classifications {
  margin-left: 1em;
  display: block;
}
styleguide overall-impression:before,
styleguide aroma:before,
styleguide appearance:before,
styleguide flavor:before,
styleguide mouthfeel:before,
styleguide comments:before,
styleguide history:before,
styleguide characteristic-ingredients:before,
styleguide style-comparison:before,
styleguide specs:before,
styleguide entry-instructions:before,
styleguide commercial-examples:before,
styleguide tags:before,
styleguide strength-classifications:before {
  font-weight: bold;
}

styleguide specs * {
    font-size: 0.8em;
    width: 100px;
}

styleguide specs ibu:before {
  content: "IBU: " attr(min) " – " attr(max);
}
styleguide specs srm:before {
  content: "SRM: " attr(min) " – " attr(max);
}
styleguide specs og:before {
  content: "OG: " attr(min) " – " attr(max);
}
styleguide specs fg:before {
  content: "FG: " attr(min) " – " attr(max);
}
styleguide specs abv:before {
  content: "ABV: " attr(min) " – " attr(max) "%";
}
styleguide specs ibu, styleguide specs srm, styleguide specs og, styleguide specs fg, styleguide specs abv {
  border: solid 1px black;
  width: 110px;
  padding: 1px;
  display: inline-block;
}

/* navigation */

styleguide nav {
    cursor: pointer;
    display:inline-block;
    position: absolute;
    left:5px;
    overflow: hidden;
    margin-left:0px;
    margin-top:3px;
    width:20px;
    height:20px;
    transition: -webkit-transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    background-position: center;
    background-size: 0.75rem auto;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 320 512%27%3E%3Cpath fill=%27%23003f57%27 d=%27M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z%27/%3E%3C/svg%3E");
}

styleguide *.collapsed > nav {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}


styleguide *.uncollapsed > nav {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

styleguide chapter.collapsed,
styleguide category.collapsed,
styleguide subcategory.collapsed {
    overflow: hidden;
}

styleguide *.collapsed div.table,
styleguide *.collapsed * {
    display:none;
}
styleguide *.collapsed nav,
styleguide *.collapsed h2,
styleguide *.collapsed name {
    display:block;
}

styleguide category > *:nth-child(3),
styleguide subcategory > *:nth-child(3) {
    /* spacing after "name" and "nav" */
    margin-top: 1em;
}

styleguide * *:last-child {
    margin-bottom: 1em;
}

styleguide subcategory[id="7C"] entry-instructions,
styleguide subcategory[id="21B"] strength-classifications {
    /* layout hack for these single occurances */
    margin-bottom: 1em;
}
